<div class="phone-border">
  <div class="flex-column align-items-centerd-flex flex-column align-items-center" style="min-height: 70vh; padding-bottom: 10vh; max-width: 100%!important;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Barra superior azul -->
      <div class="w-100 bg-primary text-white text-center d-flex justify-content-between align-items-center" style="height: 50px;">
        <%= link_to root_path, class: "text-white ml-3" do %>
          <i class="fas fa-arrow-left" style="margin-left: 5px;"></i>
        <% end %>
        <span>LOGIN</span>
        <%= f.submit "Next", class: "text-white mr-3 bg-transparent border-0", style: "cursor: pointer;" %>
      </div>

      <!-- Formulario de Inicio de Sesión -->
      <div class="w-100 mt-auto mb-auto" style="max-width: 100%!important;">

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
